# file named .gitignore

# Ignore this file
# .gitignore

# Mac OS X files
.DS_Store

# Image, font original files
*.psd
*.ai
*.vfb

# Vim leave-behinds
*.swp

# Logs, Leftovers
*.log
!errors.log
*.bak

# for stacey only
~*
app/_cache/*

