<footer>
	<a href="#footer" id=footer accesskey=b class=hide-this-shortcut-for-print-style></a>
	<section id=search-form>
		<form action=http://www.google.com/cse id=cse-search-box>
			<input type=hidden name=cx value=@googe-custom-search>
			<input type=hidden name=ie value=utf-8>
			<input type=search name=q size=16 placeholder="search">
		</form>
	</section>

	<p id=footer-meta>
		<a href="@root_path/feed/" title="Feed - Atom (The Atom Syndication Format)">Feed</a> / 
		<a href="http://twitter.com/@twitter">Twitter</a> / 
		<a href="#" title="Back to top [t]" accesskey=t>top</a>
	</p>

	<p class=footer-printable>
		(c) <a href="@root_path" class=lindsayisgod rel=home>@name</a>
	</p>
</footer>

</section>
<!-- #wrap -->

<script>function SelectShortURL(id){document.getElementById(id).focus();document.getElementById(id).select();}</script>

</body>