<!DOCTYPE html>
<!--
                                    _    __	 	
  ___ ___  ___ ________ ____  ___  (_)__/ /
 (_-</ _ \/ _ `/ __/ _ `/ _ \/ _ \/ / _  /
/___/ .__/\_,_/_/  \_,_/_//_/\___/_/\_,_/
   /_/

-->

<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name=HandheldFriendly content=True>

<link rel=stylesheet href="@root_path/v14/css/desktop.css">
<link rel=alternate href="@root_path/feed/" type=application/atom+xml>

<title>@name if @title do - @title endif</title>

<body if @persona do class="@persona" endif>

<header id=top-logo>
	<h1 id=site-title>
		<a href="@root_path" title="@name [x]" rel=home accesskey=x>@name</a>
	</h1>
</header>
