.admin-btn a{font-family:'Helvetica Neue',Arial,Helvetica,'Myriad Pro','Microsoft JhengHei';font-size:0.625em;color:#fff !important;position:fixed;top:1.4em;padding:0.4em 1em;-webkit-border-radius:0.3em;-khtml-border-radius:0.3em;-moz-border-radius:0.3em;border-radius:0.3em;z-index:999;}
.admin-dashboard a{right:3em;}
.admin-edit a{right:11em;}
.admin-btn a{background-color:rgba(0, 0, 0, 0.25);}
.admin-btn a:hover{background-color:rgba(0, 0, 0, 0.8);}
.admin-btn a,.admin-btn a:hover{-webkit-transition:background 0.3s ease-in-out;-khtml-transition:background 0.3s ease-in-out;-moz-transition:background 0.3s ease-in-out;-o-transition:background 0.3s ease-in-out;transition:background 0.3s ease-in-out;}
